/* BLOG */
.main-blog {
    /* background-color: #d9d9d9; */
    section.publicaciones {
        margin: 20px;
        background-color: #d9d9d9;
        /* gap: 10px; */
        /* width: 100vh; */
        /* padding-top: 30px; */
        display: grid;
        gap: 20px;
        align-content: center;
        .post {
            transition: box-shadow 0.2s ease;
            background-color: #f9f9f9;
            margin: auto auto;
            border-radius: 0.5rem;
            text-align: center;
            cursor: pointer;
            justify-content: space-around;
            &:hover {
                box-shadow: 0 0.1rem 0.6rem rgba(0, 0, 0, 0.3);
                }
            h2 {
                margin-bottom: 30px;
                padding-top: 30px;
                }
            p {
                margin-top: 5px;
                padding-bottom: 5px;
                 }
            img {
                width: 100%;
                height: auto;
                    }
            a {
                text-decoration: none;
                color: black;
                }
            }  
        }
    }


    /* BLOG SITES */
body .body-blog-csjp iframe {
    width: 90%;
    height: auto;
}
