/* CONTACTO */
body.body-ct {
    /* background-color: #d9d9d9; */
    .subtitulo p {
        text-align: center;
        margin: 10px;
        margin-bottom: 20px;
    }
    .imagenyformulario {
        display: grid;
        .imagenpform {
            margin-bottom: 20px;
        }
        .imagenpform img {
            width: 90%;
            height: auto;
        }
        .btn--rojo {
            @extend .btn;
            background-color: red;
        }
    }
}
