/* CONTACTO */
body.body-ct {
    background: map-get($colores, fondo);
    .subtitulo p {
        text-align: center;
        margin: 10px;
        margin-bottom: 20px;
    }
    .imagenyformulario {
        display: grid;
        align-items: center;
        padding: 10px;
        gap: 40px;
        .imagen-form {
            margin-bottom: 20px;
        }
        .imagen-form img {
            width: auto;
            border-radius: 90px;
        }
        .form-form {
            padding: 10px;
            padding-top: 20px;
        }
        .container-boton-form {
            display: flex;
            justify-content: space-around;
            .btn--extendido {
                @extend .btn;
                background-color: black;
                color: white;
                text-align: center;
            }
        }
        .form-label label{
            display: flex;
            justify-content: center;
        }
    }
}
