/* SOBRE NOSOTROS */
.body-sn {
    background-color: #d9d9d9;
    h2 {
        display: grid;
        margin-bottom: 20px;
        margin-top: 25px;
        text-align: center;
    }
    .masinfo {
        padding: 20px;
        background-color: #d9d9d9;
    }
    .containersn {
        padding: 25px;
        display: grid;
        .containersn-imagen img {
            grid-area: imagen;
            width: 100%;
            height: auto;
            border-radius: 35px;
        }
        .containersn-info {
            display: grid;
            align-items: center;
        }
        h2 {
            text-align: center;
        }
    }
}
