/* VARIABLES */
/* base de boton para @extend */
.btn, body.body-ct .imagenyformulario .container-boton-form .btn--extendido {
  display: inline-block;
  padding: 10px;
  border: 1px solid #000;
  width: 120px;
  text-decoration: none;
  border-radius: 20px;
  font-weight: 700;
}

/* $fontPrincipal: ; */
/* $bordeNegro: 2px solid #000; */
/*
$mobile: 576px;
$tablet: 768px;
$desktop: 1200px; */
/* HEADER */
header {
  background-color: #384e5b;
}

/* TODAS LAS PAGINAS */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

* body {
  background-color: #d9d9d9;
  /* importo variable */
}

* body h1 {
  padding-top: 56px;
  font-size: 2.5rem;
  text-align: center;
}

* body p {
  font-size: 18px;
}

/* FOOTER */
.footer {
  background-color: #a9a9a9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer p {
  margin: 10px;
}

.footer a {
  text-decoration: none;
  color: black;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.footer a:hover {
  color: #384e5b;
}

.footer .right-foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .right-foot p {
  font-size: 16px;
}

/* paginas */
/* INDEX */
/* BLOG */
.main-blog {
  background: #d9d9d9;
}

.main-blog section.publicaciones {
  padding: 30px;
  background-color: #d9d9d9;
  display: -ms-grid;
  display: grid;
  gap: 40px;
  -ms-flex-line-pack: center;
      align-content: center;
}

.main-blog section.publicaciones .post {
  -webkit-transition: -webkit-box-shadow 0.2s ease;
  transition: -webkit-box-shadow 0.2s ease;
  transition: box-shadow 0.2s ease;
  transition: box-shadow 0.2s ease, -webkit-box-shadow 0.2s ease;
  background-color: #f9f9f9;
  margin: auto auto;
  border-radius: 0.5rem;
  text-align: center;
  cursor: pointer;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main-blog section.publicaciones .post:hover {
  -webkit-box-shadow: 0 0.1rem 0.6rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0.1rem 0.6rem rgba(0, 0, 0, 0.3);
}

.main-blog section.publicaciones .post h2 {
  margin-bottom: 30px;
  padding-top: 30px;
}

.main-blog section.publicaciones .post p {
  margin-top: 5px;
  padding-bottom: 5px;
}

.main-blog section.publicaciones .post img {
  width: 100%;
  height: auto;
}

.main-blog section.publicaciones .post a {
  text-decoration: none;
  color: black;
}

/* BLOG SITES */
body .body-blog-csjp iframe {
  width: 90%;
  height: auto;
}

/* SOBRE NOSOTROS */
.body-sn {
  background-color: #d9d9d9;
}

.body-sn h2 {
  display: -ms-grid;
  display: grid;
  margin-bottom: 20px;
  margin-top: 25px;
  text-align: center;
}

.body-sn .masinfo {
  padding: 20px;
  background-color: #d9d9d9;
}

.body-sn .containersn {
  padding: 25px;
  display: -ms-grid;
  display: grid;
}

.body-sn .containersn .containersn-imagen img {
  grid-area: imagen;
  width: 100%;
  height: auto;
}

.body-sn .containersn .containersn-info {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body-sn .containersn h2 {
  text-align: center;
}

/* CONTACTO */
body.body-ct {
  background: #d9d9d9;
}

body.body-ct .subtitulo p {
  text-align: center;
  margin: 10px;
  margin-bottom: 20px;
}

body.body-ct .imagenyformulario {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  gap: 40px;
}

body.body-ct .imagenyformulario .imagen-form {
  margin-bottom: 20px;
}

body.body-ct .imagenyformulario .imagen-form img {
  width: auto;
  border-radius: 90px;
}

body.body-ct .imagenyformulario .form-form {
  padding: 10px;
  padding-top: 20px;
}

body.body-ct .imagenyformulario .container-boton-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body.body-ct .imagenyformulario .container-boton-form .btn--extendido {
  background-color: black;
  color: white;
  text-align: center;
}

body.body-ct .imagenyformulario .form-label label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* BLOG */
@media (min-width: 575px) {
  section.publicaciones {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  section.publicaciones .post h2 {
    margin-bottom: 10px;
    padding-top: 10px;
  }
}

@media screen and (min-width: 1200px) {
  section.publicaciones {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

/* Blog Sites */
@media screen and (max-width: 779px) {
  .main-blogSite .talles-container1, .main-blogSite .talles-container2 {
    padding: 1rem;
  }
}

@media screen and (min-width: 780px) {
  .main-blogSite .talles-container1, .main-blogSite .talles-container2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 20px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding: 2rem;
  }
  .main-blogSite .h2-1 {
    margin-left: 1rem;
  }
  .main-blogSite .h2-3 {
    margin-right: 1rem;
  }
  .main-blogSite p {
    padding: 1rem;
  }
}

@media screen and (min-width: 1200px) {
  .main-blogSite .h2-1 {
    margin-left: 2rem;
  }
  .main-blogSite .h2-3 {
    margin-right: 2rem;
  }
}

/* CONTACTO */
@media (min-width: 900px) {
  .body-ct .subtitulo p {
    padding: 20px;
  }
  .imagenyformulario {
    margin: 20px;
  }
  .imagenpform {
    margin: auto;
  }
  .imagenyformulario .imagenpform img {
    margin: auto;
    margin-left: 20px;
  }
  .imagenyformulario form {
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

@media (min-width: 1020px) {
  .imagenyformulario {
    margin: 40px;
  }
}

@media (min-width: 1401px) {
  .imagenyformulario {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .imagenyformulario form {
    padding-top: 30px;
  }
}

/* SOBRE NOSOTROS */
@media (min-width: 970px) and (max-width: 1199px) {
  /* and (max-width: 1400px) */
  .containersn {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    padding: 26px;
  }
  .containersn-imagen {
    margin: auto;
  }
  .containersn-info {
    margin: auto;
    padding-right: 20px;
  }
  .main-sn .masinfo h2 {
    padding: 10px;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .containersn {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .containersn h2 {
    padding: 10px;
  }
  .containersn .containersn-info {
    padding-right: 20px;
  }
  .main-sn .masinfo h2 {
    padding: 10px;
  }
}

@media (min-width: 1401px) and (max-width: 1536px) {
  .containersn {
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
    padding: 35px;
  }
  .containersn h2 {
    padding: 30px;
  }
  .containersn-info {
    margin: auto;
    padding-right: 20px;
  }
  .main-sn .masinfo h2 {
    padding: 10px;
  }
}

@media (min-width: 1537px) {
  .containersn {
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
    margin: 30px;
  }
  .containersn h2 {
    padding: 30px;
  }
  .containersn p {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .containersn-info {
    padding-right: 20px;
  }
  .main-sn .masinfo {
    margin: 30px;
  }
  .main-sn .masinfo h2 {
    padding: 30px;
  }
  .main-sn .masinfo p {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.main-blogSite {
  background: #d9d9d9;
}

.main-blogSite .form-form .boton-ct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-blogSite .form-form .boton-ct button {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-blogSite .talles-container1 {
  margin-bottom: 3rem;
}

.main-blogSite .talles-container1 img, .main-blogSite .talles-container2 img {
  width: 100%;
  height: auto;
}

.main-blogSite h1 {
  padding-bottom: 15px;
  margin: 0 1rem;
}

.main-blogSite h2 {
  padding-top: 20px;
}

.main-blogSite .h2-1 {
  text-align: left;
  padding-left: 1rem;
}

.main-blogSite .h2-2 {
  text-align: center;
}

.main-blogSite .h2-3 {
  text-align: end;
  padding-right: 1rem;
}

.main-blogSite p {
  margin: 1rem;
  line-height: 31px;
}
/*# sourceMappingURL=main.css.map */