* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    background-color: #d9d9d9;
}
body p {
    font-size: 18px;
}


/* HEADER */
header {
    background-color: #384e5b;
    padding: 5px;
    /* position: fixed; */
    top: 0;
    left: 0;
    right: 0;
}
.logo-icon {
    height: 70px;
}
    .navigation {
        background-color: #384e5b;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 17px;
}
    .navigation li a {
        text-decoration: none;
        color: #d9d9d9;
        display: inline-block;
}
    .navigation li a:hover {
        color: silver;
}
    .nav-list {
        list-style-type: none;
}
    .nav-list li {
        display: inline;
        position: relative;
        padding: 7px;
}
    .menu {
        display: none;
}
    .menu-line {
        width: 20px;
        height: 3px;
        background-color: white;
        margin-top: 4px;
}
ul li ul.submenu-productos {
    background-color: #384e5b;
    display: none;        /* oculto en reposo */
    position: absolute;
    top: 30px;
    left: 0;
}
.submenu-productos li a {
    padding: 10px 10px;
    color: #d9d9d9;
    display: inline-block;
    min-width: 100px;
    min-height: 5px;
    text-align: left;
}
.nav-list li:hover ul.submenu-productos {
    display: block;  /* visible mouse hover */
}
@media all and (max-width: 774px) { /* hasta aqui */
    .navigation {
        width: 100%;
    }
    .menu {
        display: block;
        position: absolute;
        right: 15px;
        align-content: center;
    }
    .nav-list {
        display: none;      /* oculto */
        list-style-type: none;
        width: 100%;
        text-align: center;
        padding-top: 10px;
    }
    .menu a:hover {
        display: block;
    }    
      .nav-list li {
          display: block;
          border-top: 1px solid white;
    }
}
/* //HEADER */



/* TODAS LAS PAGINAS */
main h1 {
    margin-top: 130px;
    margin-bottom: 30px;
    font-size: 2.5rem;
    text-align: center;
}
/* //TODAS LAS PAGINAS */


/* Index */
.categorias {
    background-color: grey;
    display: grid;
}




    /* BLOG */
section.publicaciones {
    margin: 20px;
    background-color: #d9d9d9;
    /* gap: 10px; */
    /* width: 100vh; */
    /* padding-top: 30px; */
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    align-content: center;
}
.publicaciones .post {
    transition: box-shadow 0.2s ease;
    background-color: #f9f9f9;
    margin: auto auto;
    border-radius: 0.5rem;
    text-align: center;
    cursor: pointer;
    justify-content: space-around;
}
.publicaciones a {
    text-decoration: none;
    color: black;
}
.publicaciones .post:hover {
    box-shadow: 0 0.1rem 0.6rem rgba(0, 0, 0, 0.3);
}
.publicaciones .post h2 {
    margin-bottom: 30px;
    padding-top: 30px;
}
.publicaciones .post p {
    margin-top: 5px;
    padding-bottom: 5px;
}
.publicaciones .post img {
    width: 100%;
    height: auto;
}
@media (min-width: 775px) {
       section.publicaciones {
           display: grid;
           grid-template-columns: 1fr 1fr;
       }
}
/* //BLOG */



/*SOBRE NOSOTROS */
    .body-sn h2 {
        margin: 10px;
        margin-top: 25px;
    }
    .containersn {
        margin: 15px;
        display: grid;
        grid-template-columns: 1fr; /* cantidad de columnas */
    }
    .containersn-imagen img {
        grid-area: imagen;
        width: 100%;
        height: auto;
    }
    .containersn-info {
        background-color: #d9d9d9;
    }
    .containersn-info h2, .masinfo h2{ 
        text-align: center;
    }
    .containersn-info p, .masinfo p {
        margin: 25px;
    }
    .body-sn .masinfo {
        margin: 15px;
        background-color: #d9d9d9;
    }
    /* tablet */
    @media (min-width: 775px) and (max-width: 1400px) { /* and (max-width: 1400px) */
        .containersn {
            grid-template-columns: 1fr 1fr;
        }
        .containersn-imagen {
            margin: auto;
        }
        .containersn-info {
            margin: auto;
        }
    } 
    /* pantalla grande */
    @media (min-width: 1401px) {
        .containersn {
            grid-template-columns: 2fr 1fr;
        }
        .containersn-info {
            margin: auto;
        }
    }
    /* //SOBRE NOSOTROS */


    /* CONTACTO */
    .body-ct {
        background-color: #d9d9d9;
    }
    .body-ct .subtitulo p{
        text-align: center;
        margin: 10px;
        margin-bottom: 20px;
    }
    .imagenyformulario {
        display: grid;
        grid-template-columns: 1fr;
    }
    .imagenyformulario .imagenpform img {
        width: 100%;
        height: auto;
    }
    .imagenyformulario .imagenpform {
        margin-bottom: 20px;
    }
    .body-ct form .input1, 
    .body-ct form .input2, 
    .body-ct form .input3,
    .body-ct form .input4,
    .body-ct form .input5 {
        display: flex;
        justify-content: space-around;
    }
    .body-ct input {
        margin: 5px;
        width: 70%;
        height: 35px;
    }
    .body-ct input:focus {
        width: 75%;
        height: 35px;
        background-color: rgb(245, 245, 245);
    }
    .body-ct textarea {
        margin: 5px;
        margin-top: 15px;
        width: 80%;
    }
    .body-ct textarea:focus {
        width: 85%;
        background-color: rgb(245, 245, 245);
    }
    .imagenyformulario {
        /* display: flex; */
    }
    /* TABLET */
    @media (min-width: 775px) and (max-width: 1400px) {
        .imagenyformulario {
            background-color: #d9d9d9;
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        .imagenpform {
            margin: auto;
        }
        .imagenyformulario .imagenpform img {
            margin: auto;
            margin-left: 20px;
        }
        .imagenyformulario form {
            align-content: center;
        }
    }
    @media (min-width: 1401px) {
        .imagenyformulario {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        .imagenyformulario form {
            padding-top: 30px;
        }
        .imagenyformulario {
            margin-left: 20px;
        }
    }
/* //CONTACTO */



/* FOOTER */
.footer {
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #a9a9a9;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer p {
    margin: 10px;
}

.footer a {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
}

.footer a:hover {
    color: #384e5b;
}

.right-foot {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.right-foot p {
    font-size: 16px;
}
/* //FOOTER */


